body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
}
.logotype {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: #000000;
}

.link-none-underline {
  text-decoration: none;
}

.blue-text {
  color: #2196f3;
}

.agency {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.portfolio {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.contact-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.contacts {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.contacts-list {
  list-style: none;
}

.main-section-header {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.main-section-background {
  background-color: #2f303a;
  color: var(--white);
  width: 100%;
  display: flex;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}

.order-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #2196f3;
}

.main-text-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.main-text-section {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.what-we-do {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 41.17;
  letter-spacing: 0.03em;
  color: #212121;
}
.team {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 41.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.job-posiotion {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.button-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
}

.button-list:hover {
  list-style: none;
  text-decoration: underline;
  text-decoration-color: #2196f3;
}

.subpage-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.subpage-type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
